* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: lightgrey;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 30px 0px 50px 0px;
    align-items: center;
}

.hero-left {
    max-width: 500px;
}

.hero-text {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.header,
.hero {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text,
li {
    font-size: 18px;
    color: lightgrey;
}

.image-text {
    font-size: 18px;
    color: #F9FAF8;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 250px;
}

.button-1 {
    all: unset;
    cursor: pointer;
    background-color: #3882f6;
    padding: 5px 20px;
    color: #F9FAF8;
    border-radius: 5px;
}

.hero .image-container {
    background-color: grey;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 270px;
    gap: 14px;
}

.image {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-direction: row;
    margin: 0px 600px;
    justify-content: center;
    gap: 50px;
}

.item {
    flex: 1;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.subtext {
    text-align: center;
    color: grey;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 350px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937
}

.quote-sayer {
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
}

.call {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.call-container {
    background-color: #3882f6;
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 700px;
    padding: 15px 75px;
    height: 100px;
}

.call-text {
    flex: 1;
    color: #F9FAF8;
    width: 500px;
    flex: 2 1 auto;
    font-size: 20px;
}

.call-text .signup-text {
    font-weight: lighter;
    color: #e5e7eb;
    font-size: 15px;
}

.call-button {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-2 {
    all: unset;
    cursor: pointer;
    background-color: #3882f6;
    padding: 5px 20px;
    color: #F9FAF8;
    border-radius: 5px;
    border: solid;
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    background-color: #1F2937;
    color: #e5e7eb;
    font-weight: lighter;
}